<header>
    <div class="titulo">
        <h1>Bienvenidos a mi blog</h1>
    </div>
    <div class="botones">
        <button onclick="location.href = '/posts'">Crear entrada</button>
        <button onclick="location.href = '/aboutme'">Sobre mi</button>
    </div>
</header>