<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Sobre Mi</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/css/aboutme.css" />
  </head>

  <body>
    <header>
      <h1>Santiago Panozzo: Sobre Mi</h1>
      <p>Información sobre mi persona.</p>
    </header>

    <main>
      <section>
        <header>
          <h2>Información Personal y de Contacto:</h2>
        </header>
        <section>
          <div class="bordecito">
            <table>
              <tbody>
                <tr>
                  <td class="columna1"><strong>Nombre:</strong></td>
                  <td>Santiago Panozzo</td>
                </tr>
                <tr>
                  <td class="columna1"><strong>GitHub:</strong></td>
                  <td>
                    <a href="https://github.com/SantiagoPanozzo"
                      >github.com/SantiagoPanozzo</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="columna1"><strong>Ciudad:</strong></td>
                  <td>Ciudad de Salto, Salto, Uruguay</td>
                </tr>
                <tr>
                  <td class="columna1"><strong>Número de Teléfono:</strong></td>
                  <td>099736266</td>
                </tr>
                <tr>
                  <td class="columna1"><strong>Correo Electrónico:</strong></td>
                  <td>santiago.panozzo@correo.ucu.edu.uy</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </section>
      <section>
        <header>
          <h2>Aptitudes Personales:</h2>
        </header>
        <section>
          <ul>
            <li>Programación en Python.</li>
            <li>Programación en C#.</li>
            <li>Programación en Java.</li>
            <li>Conocimiento de Estructuras de Datos y Algoritmos.</li>
            <li>Trabajo en equipo.</li>
            <li>Rápido aprendizaje.</li>
          </ul>
        </section>
      </section>
      <section>
        <header>
          <h2>Extracto:</h2>
        </header>
        <section>
          <p>
            Estudiante de la carrera de ingeniería informática en la Universidad
            Católica del Uruguay. Con gran afición por la programación y la
            resolución de problemas. Tengo conocimientos en Python, C#, C++,
            Java, HTML, CSS y Assembly. Aprendo rápido y me apasiona la cultura
            del código abierto.
          </p>
        </section>
      </section>
      <section>
        <header>
          <h2>Experiencia Laboral:</h2>
        </header>
        <section>
          <ul>
            <li>
              Ayudante de Programación I, Universidad Católica del Uruguay.
              2022-Actual
            </li>
          </ul>
        </section>
      </section>
      <section>
        <header>
          <h2>Educación Formal:</h2>
        </header>
        <section>
          <table>
            <thead>
              <tr>
                <th>Formación</th>
                <th>Institución</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="columna1">Bachillerato Físico-Matemático</td>
                <td>
                  Instituto Politécnico Osimani y Llerena, Salto, Salto, Uruguay
                </td>
              </tr>
              <tr>
                <td>Desarrollo de Software</td>
                <td class="columna1">
                  Universidad Católica del Uruguay, Salto, Salto, Uruguay
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    </main>

    <hr />
    <footer>
      <p>Santiago Panozzo, UCU 2023</p>
    </footer>
  </body>
</html>
